#header h1 {
  width: 400px;
}
.medicineCabinet {
  font-family: calibri;
  margin: 5px 10px;
}
.medicineCabinet .body ul {
  margin-left: 50px;
}
.medicineCabinet li.drug {
  background: url(../images/umslMedCab.png) 0 0 no-repeat;
  display: inline-block;
  height: 232px;
  margin: 0 10px;
  position: relative;
  width: 144px;
}
.medicineCabinet li.drug.expanded {
  background-position: -150px 0;
  margin-right: 133px;
  width: 294px;
}
.medicineCabinet li.drug.expanded dl.drugDetails {
  display: block;
  float: left;
  padding: 0 0 0 5px;
}
.medicineCabinet li.drug.expanded ul.options {
  display: block;
  margin: 0 ! important;
  padding: 0;
  position: absolute;
  right: -137px;
  top: 82px;
  width: auto;
}
.medicineCabinet li.drug ul.options {
  display: none;
}
.medicineCabinet li.drug ul.options li {
  display: block;
}
.medicineCabinet li.drug ul.options li a {
  background: url(../images/umslMedCab.png) -448px -46px no-repeat;
  color: #666;
  display: block;
  font-size: 16px;
  height: 34px;
  padding: 12px 0 0;
  text-align: center;
  text-decoration: none;
  width: 137px;
}
.medicineCabinet li.drug dl {
  display: block;
  float: left;
  margin: 100px 0 0 5px;
  padding: 0 0 0 15px;
  width: 115px;
}
.medicineCabinet li.drug dl.drugDetails {
  display: none;
}
.medicineCabinet li.drug dl dt {
  display: none;
}
.medicineCabinet li.drug dl dd {
  font-size: 14px;
  width: 100%;
}
.medicineCabinet li.drug dl dd.drugName {
  font-weight: 800;
  font-size: 18px;
  color: #0066A4;
  width: 114px;
  overflow: hidden;
}
.medicineCabinet li.drug dl dd.strength,
.medicineCabinet li.drug dl dd.form {
  display: inline;
  width: auto;
  color: #777;
  font-size: .90em;
  line-height: 1em;
}
.medicineCabinet li.drug dl dd.refills {
  position: absolute;
  bottom: 40px;
}
.medicineCabinet li.drug dl dd.refillDate {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
}
.medicineCabinet li.drug dl dd.renew {
  color: #c00;
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  bottom: 20px;
}
.medicineCabinet li.drug dl dd.qtyOnHand {
  position: absolute;
  top: 33px;
  left: 3px;
  width: 100px;
  text-align: right;
  padding-right: 3px;
  color: #fff;
  font-weight: bold;
  opacity: 0.5;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_0 {
  background: #c00;
  width: 0px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_10 {
  background: #c00;
  width: 10px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_20 {
  background: #c00;
  width: 20px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_30 {
  background: #c00;
  width: 30px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_40 {
  background: #cc0;
  width: 40px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_50 {
  background: #cc0;
  width: 50px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_60 {
  background: #cc0;
  width: 60px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_70 {
  background: #0c0;
  width: 70px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_80 {
  background: #0c0;
  width: 80px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_90 {
  background: #0c0;
  width: 90px;
}
.medicineCabinet li.drug dl dd.qtyOnHand.percent_100 {
  background: #0c0;
  width: 100px;
}
.rating {
  bottom: 25px;
  left: 149px;
  margin: 0 ! important;
  padding: 0;
  position: absolute;
}
.rating li {
  display: inline-block;
}
.rating li a {
  background: url(images/umslMedCab.png) -667px -334px no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  text-indent: -3000em;
  width: 24px;
}
.rating li a.on {
  background-position: -715px -334px;
}
.rating li a.selected {
  background-position: -739px -334px;
}
.reminder .header {
  display: none;
}
.ui-sortable-placeholder {
  border: 1px dotted #000;
  height: 232px ! important;
  visibility: visible ! important;
}
.Fluoxetine,
.Hydrochlorothiazide,
.Amoxapine {
  background: url(../images/umslMedCab.png) -615px 0 no-repeat;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: -25px;
  left: 70px;
}
.Fluoxetine {
  background-position: -615px -50px;
}
.Amoxapine {
  background-position: -615px -100px;
}
