<header class="header" role="header">
    <nav role="navigation">
        <ul class="nav nav-pills pull-right">
            <li class="active">
                <a ng-href="#">Home</a>
            </li>
            <li>
                <a ng-href="#/medicineCabinet">Medicine Cabinet</a>
            </li>
            <li>
                <a ng-href="#/about">About</a>
            </li>
            <li>
                <a ng-href="#/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">XTremeIT!</h3>
</header>
<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Welcome to another UMSL XTremeIT demo! We hope you enjoy exploring how
        web applications are built and have fun exploring the code on your own.</p>
</div>
<div class="content " role="main">
    <div class="row marketing">
        <h3>The Basics</h3>
        <p>Below are the core standards being used for this demo.</p>
        <h4>HTML5</h4>
        <p>HTML5 is the latest and greatest in HTML. Designed to be the content creator's
            language. It provides rich semantics and better compatability with old
            and new standards.</p>
        <h4>CSS3</h4>
        <p>CSS3 brings an increased ability to style and animate content without
            the need for JavaScript</p>
        <h4>JavaScript</h4>
        <p>JavaScript provides the foundation for creating robust interactive web
            pages and web applications, whether for a desktop or a mobile device.</p>
        <h3>The Toolset</h3>
        <p>Tools like the ones below help developers automate repetitive tasks and
            leverage the power of community works.</p>
        <h4>Node</h4>
        <p>Node is a JavaScript based server for all your server side scripting needs.</p>
        <h4>Grunt</h4>
        <p>Grunt is a JavaScript task runner. With it the developer can define various
            task and execute them repeatedly and consistently, removing some of the
            manual effort.</p>
        <h4>Yeoman</h4>
        <p>Yeoman is a scaffolding tool that helps you quickly build out whole sites
            or repetitive content with a little setup.</p>
        <h4>Bower</h4>
        <p>Bower helps keep track of external dependencies, like which version of
            jQuery, Angular, or Bootstrap is being used.</p>
        <h4>Karma</h4>
        <p>Spectacular Test Runner for JavaScript.</p>
        <h4>Angular</h4>
        <p>AngularJS is a toolset for building the framework most suited to your
            application development.</p>
        <h4>Bootstrap</h4>
        <p>Bootstrap is Twitter's responsive UI framework and comes with everything
            you need to create usable and nice looking web applications.</p>
        <h4>LESSCSS</h4>
        <p>LESS is a CSS-based markup that allows the developer to treat CSS in a
            more object oriented way. The markup allows the developer to do things
            that normal CSS can't, like create variables, or easily extend classes</p>
    </div>
</div>
<footer class="footer">
    <p>
        <span class="glyphicon glyphicon-heart"></span>from the Yeoman team</p>
</footer>
